# app requirements
Flask==2.1.3
Flask-Login==0.6.2
Flask-Migrate==3.1.0
Flask-WTF==1.0.1
python-dotenv==0.20.0
SQLAlchemy==1.4.39
WTForms==3.0.1
WTForms-Components==0.10.5

# service
gunicorn

# dev
isort==5.10.1
yapf==0.32.0

# additions
itsdangerous==2.1.2
Werkzeug
jinja2==3.1.2